@model List<Bank_App1.Models.UserTb>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bank-App</title>
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h1> Welcome To the Bank  </h1>
        <a href="Bank/index">Click here To Enter</a>

    </div>
   

</body>
</html>
